.main{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 200px;
    margin:0 auto;
    
}
.result{
    width: 192px;
   background-color: whitesmoke;
   color: black;
}
.clear{
    width: 200px;
}
.zero{
    width: 98px;
}
.equal{
    width: 98px;
}
.same{
    width: 47px;
}
